<footer class="footer">
	<div class="footer-main">
		<div class="logo">
			<img src="{{ theme.uri }}/dist/img/totoro.jpg">
		</div>
		{% if mainMenu %}
		<nav class="menu">
			{% for link in mainMenu.get_items %}
			<a class="{{link.classes | join(' ')}}" href="{{ link.url }}">
				{{ link }}
			</a>
			{% endfor %}
		</nav>
		{% endif %}
		<ul class="social-list">
			<li class="social-item">
				<a href="https://www.facebook.com/TheGhibliFamily/" target="_blank">
					{% include '/dist/img/facebook.svg.twig' %}
				</a>
			</li>
			<li class="social-item">
				<a href="https://twitter.com/studioghibli?lang=fr" target="_blank">
					{% include '/dist/img/twitter.svg.twig' %}
				</a>
			</li>
		</ul>
	</div>
	<div class="footer-legal">
		© Studio Ghibli, all rights reserved
	</div>
</footer>

{{wp_footer}}
</body>
</html>
