<div class="topic-media founders">
    <h3 class="topic-subtitle">Découvrir les fondateurs</h3>
    <div class="founder anim">
        <img class="founder-image" src="{{ authors.1.thumbnail.src }}" alt="">
        <div class="founder-legend">
            <hr class="stroke">
            <span class="founder-name">{{ authors.1.post_title }}</span>
            <span class="founder-role">Réalisateur</span>
        </div>
    </div>
    <div class="founder anim">
        <img class="founder-image" src="{{ authors.2.thumbnail.src }}" alt="">
        <div class="founder-legend">
            <hr class="stroke">
            <span class="founder-name">{{ authors.2.post_title }}</span>
            <span class="founder-role">{{ authors.2.post_title }}</span>
        </div>
    </div>
</div>
