<a class="cta anim" href="">Voir tous les films</a>

<div class="topic-media universe-gallery">
    <div class="gallery-image anim" style="background-image: url('{{ theme.uri }}/dist/img/ghibli_museum.jpg');"></div>
    <div class="gallery-image anim" style="background-image: url('{{ theme.uri }}/dist/img/ghibli_museum.jpg');"></div>
    <div class="gallery-image anim" style="background-image: url('{{ theme.uri }}/dist/img/ghibli_museum.jpg');"></div>
    <div class="gallery-image anim" style="background-image: url('{{ theme.uri }}/dist/img/ghibli_museum.jpg');"></div>
    <div class="gallery-image anim" style="background-image: url('{{ theme.uri }}/dist/img/ghibli_museum.jpg');"></div>
    <div class="gallery-image anim" style="background-image: url('{{ theme.uri }}/dist/img/ghibli_museum.jpg');"></div>
</div>
