<a href="{{ film.link }}" class="movie-card">
  <div class="card-cover-container">
    <img class="card-cover" src="{{ film.thumbnail.src }}" alt="">
  </div>
  <div class="card-text">
    <h4 class="card-title">{{ film.post_title }}</h4>
    <span class="card-genre">
		{% for genre in film.terms('genre') %}
            {{ genre.name }}{{ loop.index != loop.length ? ',' : '' }}
        {% endfor %}</span>
    <span class="card-year">{{ film.terms('year')[0].name }}</span>
  </div>
</a>
