<section class="recent-movies">
	<hr class="section-stroke">
	<h2 class="section-title">Œuvres récentes</h2>

	{% for movie in latest_movies %}
	<div class="movie">
		<h3 class="movie-title">{{ movie.post_title}}</h3>
		<span class="movie-year">{{ movie.terms('year')[0].name }}</span>
		<p class="movie-excerpt">{{ movie.post_excerpt }}</p>
		<div class="movie-image-wrapper">
			{% if movie.illustration_1 %}
			<img class="movie-image" src="{{ TimberImage(movie.illustration_1) }}" alt="" width="100%">
			{% endif %}
			<a href="{{ movie.link }}" class="btn-scale movie-cta">
				<span class="about-cta-text">Voir la fiche du film</span>
					{% include '/dist/img/right-arrow.svg' %}
			</a>
		</div>
	</div>
	{% endfor %}

	<a href="#" class="cta">Voir tous les films</a>

</section>
