{% set containerClass = 'page-about' %}
{% extends "base.twig" %}

{% block content %}

<div class="page-hero">
	<h1 class="page-title anim">{{ post.post_title }}</h1>
	<span class="arrow">{% include '/dist/img/right-arrow.svg.twig' %}</span>
</div>
<section class="about-bio">
	<div class="about-bio-image anim">
		<img src="{{ post.thumbnail.src }}" alt="">
	</div>
	<div class="about-bio-wrapper anim">
		<div class="about-bio-item">
			<h3 class="about-bio-title">Fondateurs / Repvrésentants</h3>
			<ul>
				{% for author in authors %}
				<li><a href="{{ author.link }}">{{ author.post_title }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="about-bio-item">
			<h3 class="about-bio-title">Localisation</h3>
			<ul>
				<li>Koganei, Japon</li>
				<li><a href="">Voir la carte</a></li>
			</ul>
		</div>
		<div class="about-bio-item">
			<h3 class="about-bio-title">Création</h3>
			<ul>
				<li>15 Juin 1985</li>
			</ul>
		</div>
	</div>
</section>

<section class="quote anim">
	{% include '/dist/img/quote.svg.twig' %}
	<p class="quote-text">
		Je crois au pouvoir de l'histoire. Je crois que les histoires ont un rôle important à jouer dans la formation des êtres humains, qu'elles peuvent stimuler, étonner et inspirer leurs auditeurs
	</p>
	<span class="quote-author">Hayao Miyazaki</span>
</section>

{% for section in sections %}
	<section class="topic {{ section.class }}">
		<h2 class="topic-title anim">{{ section.post_title }}</h2>
		<p class="topic-paragraph anim">
			{{ section.post_content }}
		</p>

		{# Suggestion : retirer le cta des includes about media et mettre une condition avec l'ACF du cta (cta text), si vide, pas de cta #}
		{# {% if cta_text %}
			<a class="cta anim" href="">{{ cta_text }}</a>
		{% endif %} #}

		{% include './includes/about_media/media_'~section.template~'.twig' %}
	</section>
{% endfor %}
{% endblock %}
