{% set containerClass = 'page-about' %}
{% extends "base.twig" %}

{% block content %}

<div class="page-hero">
	<h1 class="page-title">{{ post.post_title }}</h1>
	<span class="arrow">{% include '/dist/img/right-arrow.svg.twig' %}</span>
</div>
<section class="about-bio">
	<div class="about-bio-image">
		<img src="{{ post.thumbnail.src }}" alt="">
	</div>
	<div class="about-bio-wrapper">
		<div class="about-bio-item">
			<h3 class="about-bio-title">Fondateurs / Représentants</h3>
			<ul>
				{% for author in authors %}
				<li>{{ author.post_title }}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="about-bio-item">
			<h3 class="about-bio-title">Localisation</h3>
			<ul>
				<li>Koganei, Japon</li>
				<li><a href="">Voir la carte</a></li>
			</ul>
		</div>
		<div class="about-bio-item">
			<h3 class="about-bio-title">Création</h3>
			<ul>
				<li>15 Juin 1985</li>
			</ul>
		</div>
	</div>
</section>

<section class="quote">
	{% include '/dist/img/quote.svg.twig' %}
	<p class="quote-text">
		Je crois au pouvoir de l'histoire. Je crois que les histoires ont un rôle important à jouer dans la formation des êtres humains, qu'elles peuvent stimuler, étonner et inspirer leurs auditeurs
	</p>
	<span class="quote-author">Hayao Miyazaki</span>
</section>

{% for section in sections %}
	<section class="topic {{ section.class }}">
		<h2 class="topic-title">{{ section.post_title }}</h2>
		<p class="topic-paragraph">
			{{ section.post_content }}
		</p>

		{% if section.template == 'univers' %}
			<a class="cta" href="">Voir tous les films</a>
		{% endif %}

		{% include './includes/about_media/media_'~section.template~'.twig' %}
	</section>
{% endfor %}


<section class="topic">
	<h2 class="topic-title">Musique</h2>
	<p class="topic-paragraph">
		L’élément essentiel du succès du Studio Ghibli reste la musique, composé par Mamoru Fujisawa, plus connu sous le nom de Joe Hisaishi est chef d’orchestre, pianiste et parolier. Pour le Studio Ghibli, il a créé les musiques de Nausicaa de la Vallée du Vent (1984), Le Château dans le Ciel (1986), Mon Voisin Totoro (1988), Kiki la Petite Sorcière (1989), Porco Rosso (1992), Princesse Mononoké (1997), Le Voyage de Chihiro (2001) et bien d’autres. Ses mélodies d’une profondeur et d’une intensité rares transportent et enveloppent l’âme du Studio Ghibli d’un duvet chaud et doux…
	</p>
	<a class="cta" href="">Découvrir Joe Hisaishi</a>
	<div>
		<iframe width="854" height="480" src="https://www.youtube.com/embed/eY1XtWyKlJA" frameborder="0" gesture="media" allowfullscreen></iframe>
	</div>
</section>

<section class="topic museum dark">
	<h2 class="topic-title">Musée</h2>
	<p class="topic-paragraph">
		Le Musée d'art Ghibli est consacré au studio d'animation japonais éponyme, situé à l'orée du parc Inokashira de la ville de Mitaka, dans la banlieue ouest de Tokyo. Ouvert depuis 2001, il retrace les coulisses des célèbres créations et réalisations du studio tels que Le voyage de Chihiro et Mon voisin Totoro.  Il est accessible par train depuis le centre de Tokyo et nécessite une réservation à l'avance pour pouvoir le visiter. Il présente en plus des expositions, un café, un magasin, un toit végétal et une salle de cinéma.
	</p>
	<a class="cta" href="">Découvrir le musée</a>
	<div class="topic-media museum-gallery">
		<div class="gallery-image" style="background-image: url('{{ theme.uri }}/dist/img/ghibli_museum.jpg');"></div>
		<div class="gallery-image" style="background-image: url('{{ theme.uri }}/dist/img/ghibli_museum.jpg');"></div>
		<div class="gallery-image" style="background-image: url('{{ theme.uri }}/dist/img/ghibli_museum.jpg');"></div>
		<div class="gallery-image" style="background-image: url('{{ theme.uri }}/dist/img/ghibli_museum.jpg');"></div>
	</div>
</section>

{% endblock %}
