
{% extends "base.twig" %}

{% block content %}
	<section class="hero" style="background-image: url('{{ post.thumbnail.src }}')">
	<div class="hero-logo-wrapper">
		<img class="hero-logo anim" src="{{ TimberImage(post.hero_logo) }}">
	</div>
		<a class="hero-cta anim" href="{{ site.url }}/a-propos">Découvrir l'univers</a>
	</section>

	<section class="quote anim">
		{% include '/dist/img/quote.svg.twig' %}
		<p class="quote-text anim">
			{{ post.quote }}
		</p>
		<span class="quote-author">{{ post.quote_author }}</span>
	</section>

	{% include './includes/famous_movies.twig' %}

	{% include './includes/recent_movies.twig' %}

	<section class="studio">
		<img class="studio-image anim" src="{{ TimberImage(post.studio_image) }}">
		<div class="studio-content anim">
			{{ post.content }}
			<a href="{{ page_about.link }}" class="btn-scale studio-cta anim">
				<span class="studio-cta-text">À propos de nous</span>
					{% include '/dist/img/right-arrow.svg.twig' %}
			</a>
		</div>
	</section>

{% endblock %}
